{ 
:deps {org.clojure/clojure               {:mvn/version "1.10.2"}
       com.drewnoakes/metadata-extractor {:mvn/version "2.15.0"}
       clj-http/clj-http                 {:mvn/version "3.4.1"}
      }
}
